<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/01_排序算法/src/sort01_冒泡排序_BubbleSort/BubbleSort2.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="sort01_冒泡排序_BubbleSort.BubbleSort2"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="01_排序算法"/>
</launchConfiguration>
