<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/22_玩转数据结构/src/c14_Hash_Table/c05_Hash_Table_Implementation/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="c14_Hash_Table.c05_Hash_Table_Implementation.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="22_玩转数据结构"/>
</launchConfiguration>
