<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/04_深度优先_DFS/src/l_0490_迷宫_v1_the_maze/Solution3.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="l_0490_迷宫_v1_the_maze.Solution3"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="04_深度优先_DFS"/>
</launchConfiguration>
